# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User-defined
nbproject/
src/gmu
doc/gmu.pdf
doc/slides.pdf
*.tar.gz

# Images (binary)
*.png
*.jpg
*.jpeg
doc/gmu.out
doc/gmu.aux
doc/gmu.log

doc/slides.toc
doc/slides.snm
doc/slides.out
doc/slides.nav
doc/slides.log
doc/slides.aux
